body {
  text-align: center;
  background: black;
  color: white;
}
h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}

ul {
  padding: 10px;
  /* may not be required if background of entire body stays black
  background: black;
  */
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

#lighter-font {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
